<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ output.page_title }}</title>
    {{{ output.standard_head_html }}}
</head>
<body {{{ output.body_attributes }}}>
    {{{ output.standard_top_of_body_html }}}

    <header>
        <h1>My Custom Theme</h1>
    </header>

    <main role="main">
        {{{ output.main_content }}}
    </main>

    {{{ output.standard_end_of_body_html }}}
</body>
</html>
